.month {
	width: 200px;
	padding: 5px;
	background: var(--calendar-background);
	position: relative;
	overflow: hidden;
	float: left;
	margin: 11px;
	height: 210px;
}

.month h6 {
	text-align: center;
	margin: -20px -20px 10px -20px;
	padding: 20px 0px 5px 0px;
	background: var(--calendar-month-background);
	color: var(--calendar-month);
	font-size: 13.5px;
}

.day, .dow, .dummy-day {
	display: inline-block;
	width: 12.7864%;
	float: left;
	text-align: center;
	margin-right: 1.5%;
	font-size: 13.5px;
}

.dow {
	font-weight: bold;
	margin-bottom: 10px;
}

.day {
	cursor: pointer;
	color: var(--calendar-day);
	font-size: 13.5px;
}

.day.weekend {
	/* background: rgb(245, 171, 53); */
}

.day:hover {
	background: var(--calendar-day-hover) !important;
}

.day, .dummy-day {
	height: 20px;
	line-height: 20px;
	margin-bottom: 1.5%;
}

.dummy-day {
	color: var(--calendar-dummyday);
	font-size: 13.5px;
}

