.month {
	width: 300px;
	padding: 20px;
	background: #FED187;
	position: relative;
	overflow: hidden;
	float: left;
	margin: 20px;
	height: 350px;
}

.month h5 {
	text-align: center;
	margin: -20px -20px 10px -20px;
	padding: 10px 0;
	background: #1d130b;
	color: #FFF;
}

.day, .dow, .dummy-day {
	display: inline-block;
	width: 12.7864%;
	float: left;
	text-align: center;
	margin-right: 1.5%;
}

.dow {
	font-weight: bold;
	margin-bottom: 10px;
}

.day {
	cursor: pointer;
	color: #3C2718;
}
.day.weekend {
	/* background: rgb(245, 171, 53); */
}

.day:hover {
	background: #E6AA60 !important;;
}

.day, .dummy-day {
	height: 40px;
	line-height: 40px;
	margin-bottom: 1.5%;
}

.dummy-day {
	color: #d18222;
}

