body {
    background: #b6b6b6;
    font-family: sans-serif;
    font-size: 15px
}

form, .output {
    background: #fff;
    padding: 3em 3em 2em;
    max-width: 50%;
    margin: 100px auto 0;
    box-shadow: 0 0 1em #222;
    border-radius: 5px;
}

p {
    margin: 0 0 1em 0;
    position: relative;
}

.InputLabel {
    display: block;
    font-size: 1.6em;
    margin: 0 0 .5em;
    color: #333;
}
.userInput {
    display: block;
    box-sizing: border-box;
    width: 100%;
    outline: none;
}

.errorInput {
    background: #ffbdb6;
}

.loginBtn {
    display: block;
    margin: 0 auto;
    margin-top: 15px;
    font-size: 1.6em;
}

.center {
    text-align: center;
}