:root {
    --dark-black:#282a36;
    --greyish:  #44475a;
    --dark-blue: #6272a4;
    --calendar-day: #f8f8f2;
    --calendar-day-hover: #cacaca;
    --calendar-dummyday: #888dac;
    --calendar-day-selected: #ABDF9D;
    --calendar-month: #ff79c6;
    --calendar-month-background: #282a36;
}

html, body {
	background: var(--dark-black);
    font-family: sans-serif;
    height: 100vh;
}

h1 {
    color: var(--calendar-day);
}

.container {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.modal-lrg {
    max-width: 80%;
}

.modal-body {
    max-height: 80vh;
    overflow-y: auto;
}

.carousel-top-control {
    top: 35px;
    position: fixed;
    width: 15%;
    height: 15px;
}

.carousel-control-left {
    margin-left: 25%;
}

.carousel-control-right {
    margin-right: 25%;
}

.calendar-title {
    text-align: center;
    padding: 20px;
}