:root {
    --black: #000000;
    --orange: #FF9900;
    --green:#50fa7b;
    --white: #ffffff;
    --whiteish: #f2f2f2;
    --grey: #cbcbcb;
}

html, body {
	background: var(--white);
    font-family: sans-serif;
    height: 100vh;
}

h1 {
    color: var(--black);
}

.container {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.modal-lrg {
    max-width: 80%;
}

.modal-body {
    max-height: 80vh;
    overflow-y: auto;
}

.carousel-top-control {
    top: 35px;
    position: fixed;
    width: 15%;
    height: 15px;
}

.carousel-control-left {
    margin-left: 25%;
}

.carousel-control-right {
    margin-right: 25%;
}

.calendar-title {
    text-align: center;
    padding: 20px;
}