{% extends 'base.html' %}
{% block head %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='login.css') }}">
{% endblock %}

{% block body %}
<form action="/" method="POST" id="loginForm">
    <p class="center">Please login to this <a href="https://open.kattis.com/download/kattisrc" target="_blank">kattisrc site</a> and input user name and token</p>
    <p>
        <label for="inputUsername">User Name</label>
        <input name="user-input" type="text" id="inputUsername" required/>
    </p>
    <p>
        <label for="inputToken">Token</label>
        <input name="token-input" type="text" id="inputToken" required/>
    </p>
    <button class="btn btn-primary loginBtn" id="submitBtn" type="submit" form="loginForm" value="Submit" onclick="submit()">Submit</button>
    <button class="btn btn-primary loginBtn" id="loadingBtn" style="display: none;"><i class="fa fa-spinner fa-spin"></i> Collecting data...</button>
</form>

<script>
    function submit() {
        var username = document.getElementById('inputUsername');
        var token = document.getElementById('inputToken');
        if (username.value != "" && token.value != "") {
            document.getElementById('submitBtn').style.display = 'none';
            var loadingBtn = document.getElementById('loadingBtn');
            loadingBtn.style.display = '';
            loadingBtn.disabled = true;
            username.readOnly = true;
            token.readOnly = true;
        }
    }
</script>

{% endblock %}