{% extends 'base.html' %}
{% block head %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='login.css') }}">
{% endblock %}

{% block body %}
<form action="/" method="POST" id="loginForm">
    <p class="center">Please login to this <a href="https://open.kattis.com/download/kattisrc" target="_blank">kattisrc site</a> and input user name and token</p>
    {% if not input_error %}
        <p>
            <label for="inputUsername" class="InputLabel">User Name</label>
            <input class="userInput" name="user-input" type="text" id="inputUsername" value="{{ username }}" required/>
        </p>
        <p>
            <label for="inputToken" class="InputLabel">Token</label>
            <input class="userInput" name="token-input" type="text" id="inputToken" value="{{ token }}" required/>
        </p>
    {% else %}
        <p>
            <label for="inputUsername" class="InputLabel">User Name</label>
            <input class="userInput errorInput" name="user-input" type="text" id="inputUsername" value="{{ username }}" required/>
        </p>
        <p>
            <label for="inputToken" class="InputLabel">Token</label>
            <input class="userInput errorInput" name="token-input" type="text" id="inputToken" value="{{ token }}" required/>
        </p>

        <script>
            window.addEventListener('load', function(event) {
                alert('Please check your input!');
            });
        </script>
    {% endif %}

    <label for="remember"><input type="checkbox" id="remember" name="remember" checked> Remember me</label>

    <button class="btn btn-primary loginBtn" id="submitBtn" onclick="submitForm()">Submit</button>
    <button class="btn btn-primary loginBtn" id="loadingBtn" style="display: none;"><i class="fa fa-spinner fa-spin"></i> Collecting data...</button>
</form>

<script>
    function submitForm() {
        var username = document.getElementById('inputUsername');
        var token = document.getElementById('inputToken');
        if (username.value != "" && token.value != "") {
            document.getElementById('loginForm').submit();
            document.getElementById('submitBtn').style.display = 'none';
            var loadingBtn = document.getElementById('loadingBtn');
            loadingBtn.style.display = '';
            loadingBtn.disabled = true;
            username.readOnly = true;
            token.readOnly = true;
        }
    }
</script>

{% endblock %}